
@{
    ViewBag.Title = "Vaan Travel House";
    Layout = "~/Views/WebMaster.cshtml";
}

<!-- aboutus section -->
<section id="aboutus">
    <div class="container aboutus wow fadeInUp">
        <h1 class="text-center">Welcome to Vaan Travels House</h1>
        <div class="row">
            <div class="col-sm-12 mt-3">
                <p class="text-justify">
                    We are one of the fastest growing tour operator companies that are known for the qualitative services. Most of our clients prefer us for
                    the personalized services offered by us. We offer most unique and exotic travelling destinations to the travelers that leave them in great
                    amazement. Our services are unique in itself that give you some memorable moments that you can cherish for lifetime.
                </p>
            </div>
        </div>
    </div>
</section>
<!-- end of aboutus section -->
<!-- hot tours section -->
<section id="hot-tours">
    <div class="container hot-tours wow fadeInUp">
        <h1 class="text-center">Hot Tours</h1>
        <div class="row mt-3 wow fadeInUp">
            <div class="col-sm-4  ">

                <div class="image-gallery position-relative">
                    <img class="img-fluid" src="~/img/gallery1.jpg" alt="goa" srcset="">

                    <div class="gallery-text position-absolute">
                        <h4>Goa Package</h4>
                        <p>3/4 Nights</p>
                        <button class="btn btn-outline-danger">see all details</button>
                    </div>

                </div>
            </div>


            <div class="col-sm-4">
                <div class="image-gallery">
                    <img class="img-fluid" src="~/img/gallery2.jpg" alt="shirdi" srcset="">

                    <div class="gallery-text position-absolute">
                        <h4>Shirdi Package</h4>
                        <p>3/4 Nights</p>
                        <button class="btn btn-outline-danger">see all details</button>
                    </div>


                </div>
            </div>


            <div class="col-sm-4">
                <div class="image-gallery">
                    <img class="img-fluid" src="~/img/gallery3.jpg" alt="" srcset="">

                    <div class="gallery-text position-absolute">
                        <h4>Singapore Package</h4>
                        <p>3/4 Nights</p>
                        <button class="btn btn-outline-danger">see all details</button>
                    </div>


                </div>
            </div>

        </div>


        <div class="row mt-3 wow fadeInUp">

            <div class="col-sm-4">
                <div class="image-gallery">
                    <img class="img-fluid " src="~/img/gallery4.jpg" alt="" srcset="">

                    <div class="gallery-text position-absolute">
                        <h4>Bankok Package</h4>
                        <p>3/4 Nights</p>
                        <button class="btn btn-outline-danger">see all details</button>
                    </div>

                </div>
            </div>


            <div class="col-sm-4">
                <div class="image-gallery">
                    <img class="img-fluid" src="~/img/gallery5.jpg" alt="" srcset="">

                    <div class="gallery-text position-absolute">
                        <h4>Itly Package</h4>
                        <p>3/4 Nights</p>
                        <button class="btn btn-outline-danger">see all details</button>
                    </div>

                </div>
            </div>


            <div class="col-sm-4">
                <div class="image-gallery">
                    <img class="img-fluid" src="~/img/gallery6.jpg" alt="" srcset="">
                    <div class="gallery-text position-absolute">
                        <h4>Mumbai Package</h4>
                        <p>3/4 Nights</p>
                        <button class="btn btn-outline-danger">see all details</button>
                    </div>

                </div>
            </div>

        </div>
        <div class="text-center">
            <button class="btn btn-primary"> To know more</button>
        </div>

    </div>

</section>
<!-- end of hot tours section -->
<!-- International tours  -->
<section id="international-tours">
    <div class="container international-tours">
        <h1 class="text-center">International Tours</h1>
        <div class="row mt-3">
            <div class="col-sm-4 ">

                <div class="image-gallery position-relative">
                    <img class="img-fluid img-thumbnail" src="~/img/gallery1.jpg" alt="goa" srcset="">

                    <div class="gallery-text position-absolute">
                        <h4>Goa Package</h4>
                        <p>3/4 Nights</p>
                        <button class="btn btn-outline-danger">Book Now</button>
                    </div>

                </div>
            </div>


            <div class="col-sm-4">
                <div class="image-gallery">
                    <img class="img-fluid img-thumbnail" src="~/img/gallery1.jpg" alt="shirdi" srcset="">

                    <div class="gallery-text position-absolute">
                        <h4>Shirdi Package</h4>
                        <p>3/4 Nights</p>
                        <button class="btn btn-outline-danger">Book Now</button>
                    </div>


                </div>
            </div>


            <div class="col-sm-4">
                <div class="image-gallery">
                    <img class="img-fluid img-thumbnail" src="~/img/gallery1.jpg" alt="" srcset="">

                    <div class="gallery-text position-absolute">
                        <h4>Singapore Package</h4>
                        <p>3/4 Nights</p>
                        <button class="btn btn-outline-danger">Book Now</button>
                    </div>


                </div>
            </div>

        </div>


        <div class="row mt-3">

            <div class="col-sm-4">
                <div class="image-gallery">
                    <img class="img-fluid img-thumbnail" src="~/img/gallery1.jpg" alt="" srcset="">

                    <div class="gallery-text position-absolute">
                        <h4>Bankok Package</h4>
                        <p>3/4 Nights</p>
                        <button class="btn btn-outline-danger">Book Now</button>
                    </div>

                </div>
            </div>


            <div class="col-sm-4">
                <div class="image-gallery">
                    <img class="img-fluid img-thumbnail" src="~/img/gallery1.jpg" alt="" srcset="">

                    <div class="gallery-text position-absolute">
                        <h4>Itly Package</h4>
                        <p>3/4 Nights</p>
                        <button class="btn btn-outline-danger">Book Now</button>
                    </div>

                </div>
            </div>


            <div class="col-sm-4">
                <div class="image-gallery">
                    <img class="img-fluid img-thumbnail" src="~/img/gallery1.jpg" alt="" srcset="">
                    <div class="gallery-text position-absolute">
                        <h4>Mumbai Package</h4>
                        <p>3/4 Nights</p>
                        <button class="btn btn-outline-danger">Book Now</button>
                    </div>

                </div>
            </div>

        </div>
        <div class="text-center international-button">
            <button class="btn btn-primary"> To know more</button>
        </div>

    </div>

</section>
<!-- End of international tours -->
